$font-family-base: 'M PLUS Rounded 1c', sans-serif;

$font-regular: 500;
$font-medium: 800;
$font-bold: 900;

$font-size-medium: 1.6rem;

$color-black: #000000;
$color-primary: #1820EF;
$color-secondary: #FF4E42;
$color-tertiary: #FFC024;
$color-white: #FAFAED;

$spacing-xxsmall: 1.2rem;
$spacing-small: 2.4rem;
$spacing-xlarge: 4.8rem;